In [1]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import numpy as np
import nltk
import sklearn

In [2]:
df = pd.read_csv('data/dataset.csv')

In [3]:
df = df.dropna()

In [4]:
df['Mean'] = (df['Dow Jones Delta'] + df['Nasdaq Delta'] + df['S&P 500 Delta'])/3

In [108]:
df['Body'] = df['Body'].apply(lambda body: body + ' ').str.replace('\d+', '')

In [109]:
df_upward = df[df['Mean'] > 0]
df_downward = df[df['Mean'] < 0]

In [110]:
df_upward_grouped = df_upward.groupby('Date')
df_downward_grouped = df_downward.groupby('Date')

In [111]:
vectorizer = CountVectorizer(encoding='utf-8', stop_words='english')
dtm_upward = vectorizer.fit_transform(df_upward_grouped['Body'].sum())

In [118]:
dtm_df = pd.DataFrame(vectorizer.fit_transform(df_downward_grouped['Body'].sum()).toarray(), columns=vectorizer.get_feature_names())

In [119]:
print(dtm_df.sum().sort_values(ascending=False))

president               2826
think                   1522
mr                      1402
going                   1256
people                  1059
spicer                  1052
just                     772
know                     686
trump                    650
thank                    635
house                    585
american                 565
said                     558
states                   555
want                     545
country                  544
right                    529
united                   483
make                     469
great                    462
administration           457
im                       407
applause                 405
white                    402
order                    386
time                     385
like                     384
today                    383
lot                      378
look                     372
                        ...
grandson                   1
grappling                  1
google                     1
grassleywe                 1
silence                    1
gravely                    1
graveyard                  1
silberman                  1
signedthree                1
greenberg                  1
silos                      1
grades                     1
gracious                   1
grace                      1
singing                    1
gordie                     1
gorsuchagain               1
gorsuchfactsto             1
gosar                      1
sinai                      1
simultaneously             1
gottlieb                   1
governmentpreserving       1
simmons                    1
simmering                  1
similarities               1
gps                        1
grab                       1
grabbed                    1
zucker                     1
dtype: int64

In [127]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidfvec = TfidfVectorizer(stop_words = 'english')

#create the dtm, but with cells weigthed by the tf-idf score.
dtm_tfidf_df = pd.DataFrame(tfidfvec.fit_transform(df_downward_grouped['Body'].sum()).toarray(), columns=tfidfvec.get_feature_names())

#view results
dtm_tfidf_df

,aarp,aarps,aback,abadi,abadis,abandon,abandoned,abandonment,abba,abc,...,zeke,zekes,zero,zimmerman,zinke,zinkesecretary,zip,zone,zones,zucker
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.010984,0.00000,0.000000,0.008116,0.000000,0.007147,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.022478,0.000000,0.022478,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.009966,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.008155,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.008155,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013364,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.004952,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.004210,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006221
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.009524,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011162,0.000000,...,0.005875,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.008799,0.000000,0.028279,0.00000,0.000000,0.000000,0.000000,0.022082,0.053225,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.007018,...,0.000000,0.000000,0.004749,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006449,0.000000,0.000000,...,0.003394,0.000000,0.000000,0.00000,0.000000,0.000000,0.005679,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.031366,0.008904,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.007841,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.008652,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.010343,0.009825,0.000000,0.01965,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.004071,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.030952,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.005117,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.006106,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,0.000000,0.000000,0.000000,0.005822,0.007315,0.005822,0.000000,0.000000,0.000000,0.000000,...,0.003850,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.006417,0.000000,0.008250,0.00000,0.096628,0.000000,0.000000,0.000000,0.009704,0.000000

In [128]:
print(dtm_tfidf_df.max().sort_values(ascending=False)[:20])

president    0.555928
japan        0.511509
sanders      0.451279
israel       0.383393
mr           0.362969
spicer       0.362165
think        0.309386
going        0.258172
people       0.252687
states       0.249317
united       0.249317
applause     0.248458
canada       0.247425
navy         0.244125
ms           0.242824
space        0.230197
editorial    0.212606
gorsuch      0.203319
speech       0.200170
senior       0.189052
dtype: float64